<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Chat</title>
</head>
<body>
    <h2>Personal Chat with {{ receiver_user.username }}</h2>
    <div id="display">
        
    </div>
    <div id="messages">
        <!-- Existing messages will be displayed here -->
        {% for message in messages %}
        <div class="message">
            <p class="message-user">{{ message.sender.username }}:</p>
            <p class="message-content">{{ message.message }}</p>
            <p class="message-timestamp">Timestamp: {{ message.timestamp }}</p>
        </div>
        {% endfor %}
    </div>

    <form id="post-form" method = "post">
        {% csrf_token %}
        <input type="hidden" name="receiver_id" id="receiver_id" value="{{receiver_user.id}}"/>
        <input type="text" name="message" id="message" width="100px" />
        <input type="submit" value="Send">
    </form>

    <script type="text/javascript">
        $(document).on('submit','#post-form',function(e){
          e.preventDefault();
      
          $.ajax({
            type:'POST',
            url:'/send',
            data:{
                receiver_id:$('#receiver_id').val(),
                message:$('#message').val(),
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(data){
               alert(data)
            }
          });
          document.getElementById('message').value = ''
        });
      </script>
</body>
</html>
